<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Calculadora Basica</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/calculadora.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Calculadora Basica</h1>
      <a class="btn btn-primary" href="/">Volver</a>
    </div>
  </div>
  <div id="calculator">
    <div class="top">
      <div class="screen"></div>
    </div>

    <div class="keys">
      <span>(</span>
      <span>)</span>
      <span>%</span>
      <span class="operator clear">C</span>
      <span>7</span>
      <span>8</span>
      <span>9</span>
      <span class="operator">+</span>
      <span>4</span>
      <span>5</span>
      <span>6</span>
      <span class="operator">-</span>
      <span>1</span>
      <span>2</span>
      <span>3</span>
      <span class="operator">รท</span>
      <span>0</span>
      <span>.</span>
      <span class="eval">=</span>
      <span class="operator">x</span>
    </div>
  </div>
  <script src="/js/calculadora.js"></script>
</body>

</html>