<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fucniones | Calidad de Software</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .card {
            float: left;
            margin: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Lista de funciones</h5>
                <div class="card" style="width: 18rem;">
                    <img src="/img/Captura de pantalla de 2019-05-16 11-01-22.png" class="card-img-top" alt="..." height="250px">
                    <div class="card-body">
                        <h5 class="card-title">Calculadora</h5>
                        <p class="card-text">Calculadora basica que consume un servico tercero para realizar
                            operaciones.</p>
                        <a class="btn btn-primary" href="calculadora">Ir</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="/img/Captura de pantalla de 2019-05-16 12-50-56.png" class="card-img-top" alt="..." height="250px">
                    <div class="card-body">
                        <h5 class="card-title">Post-it</h5>
                        <p class="card-text">Herramienta de notas, para que no se te olvide nada. Siempre estaras al tanto de tus cosas</p>
                        <a class="btn btn-primary" href="post-it">Ir</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                        <img src="/img/Captura de pantalla de 2019-05-16 12-50-56.png" class="card-img-top" alt="..." height="250px">
                        <div class="card-body">
                            <h5 class="card-title">Post-it</h5>
                            <p class="card-text">Herramienta de notas, para que no se te olvide nada. Siempre estaras al tanto de tus cosas</p>
                            <a class="btn btn-primary" href="post-it">Ir</a>
                        </div>
                    </div>
            </div>
        </div>

    </div>
</body>

</html>